html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-style: normal;
}

div {
  box-sizing: border-box;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 38px;
  text-transform: uppercase;
}

h2 span img {
  height: 28px;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  margin-bottom: 0;
}

h3 span img {
  height: 24px;
}

p {
  color: #063d39;
  font-size: 18px;
  line-height: 21px;
}

a:hover {
  opacity: .8;
  cursor: pointer;
}

img {
  max-width: 100%;
}

img[data-src] {
  opacity: 0;
}

img.loaded {
  -webkit-transition: opacity .5s linear 0.2s;
  -moz-transition: opacity .5s linear 0.2s;
  transition: opacity .5s linear 0.2s;
  opacity: 1;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  color: #063d39;
  margin: 0;
  padding-left: 12px;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 7px;
}

li:after {
  content: '';
  height: 7px;
  width: 7px;
  background: #f6cf3e;
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  transform: rotate(45deg) skew(10deg, 10deg);
}

.btt {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #008884;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index: 2;
}

.btt span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}

.btt:hover {
  opacity: 1;
}

.max-width {
  max-width: 700px;
  margin: 0 auto;
}

.champions-hr img {
  max-width: 70px;
}

.champions-button a {
  color: #fff;
  background: #df5b4a;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 7px 15px;
  display: inline-block;
}

.responsive-map {
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  z-index: 1;
}

.responsive-map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*** COLUMNS ***/

.column-1-1 {
  width: 100%;
  display: inline-block;
}

.column-1-2 {
  width: 50%;
  float: left;
}

/*** VIDEOS ***/

.video-wrap {
  max-width: 600px;
  margin: 0 auto;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/*** HEADER ***/

#champions-header {
  background: #df3226;
  text-align: center;
}

#champions-lights img {
  width: 100%;
}

#champions-logo {
  max-width: 690px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}

#champions-header h2 {
  color: #fff;
  margin: 0;
  padding: 20px 20px 40px 20px;
  text-transform: none;
}

#champions-header span {
  content: '';
  height: 14px;
  width: 14px;
  background: #f6cf3e;
  position: absolute;
  top: -6px;
  display: inline-block;
  margin: 0 15px;
  position: relative;
  transform: rotate(45deg) skew(10deg, 10deg);
}

/*** CONTENT ***/

#champions-content {
  text-align: center;
  background: rgba(223,50,38,1);
  background: -moz-linear-gradient(top, rgba(223,50,38,1) 0%, rgba(245,156,32,1) 50%, rgba(89,196,191,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,50,38,1)), color-stop(50%, rgba(245,156,32,1)), color-stop(100%, rgba(89,196,191,1)));
  background: -webkit-linear-gradient(top, rgba(223,50,38,1) 0%, rgba(245,156,32,1) 50%, rgba(89,196,191,1) 100%);
  background: -o-linear-gradient(top, rgba(223,50,38,1) 0%, rgba(245,156,32,1) 50%, rgba(89,196,191,1) 100%);
  background: -ms-linear-gradient(top, rgba(223,50,38,1) 0%, rgba(245,156,32,1) 50%, rgba(89,196,191,1) 100%);
  background: linear-gradient(to bottom, rgba(223,50,38,1) 0%, rgba(245,156,32,1) 50%, rgba(89,196,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df3226', endColorstr='#59c4bf', GradientType=0 );
}

/*** ROW HEADING ***/

.champions-row-heading {
  width: 100%;
  color: #fff;
  background: #00afaa;
  text-align: center;
  display: inline-block;
  padding: 30px 20px;
  border-top: 1px solid rgba(91, 119, 112, .5);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
  position: relative;
  z-index: 1;
}

.champions-row-heading h2 {
  margin: 0 0 2px 0;
}

/*** ROW ***/

.champions-row {
  width: calc(100% - 40px);
  max-width: 850px;
  background: #fff;
  margin: 0 10px;
  padding: 30px;
  display: inline-block;
  position: relative;
}

.champions-row:before {
  width: 5px;
  height: 100%;
  background: transparent url('../img/border-left.png');
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: -5px;
}

.champions-row:after {
  width: 5px;
  height: 100%;
  background: transparent url('../img/border-right.png');
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: -5px;
}

.champions-row h2,
.champions-row h3 {
  color: #063d39;
}

@media screen and (max-width: 768px) {

  .champions-row {
    padding-left: 20px;
    padding-right: 20px;
  }

}

/*** INTRO ***/

#intro.champions-row {
  padding: 20px;
}

#intro .column-1-1 {
  text-align: left;
}

#intro .column-1-2 {
  width: calc(50% - 20px);
  margin: 0 10px;
}

#intro .column-1-2 h3 {
  margin-top: 0px;
}

#intro .column-1-2 p {
  margin-top: 3px;
}

#intro h3 {
  color: #59c4bf;
  display: inline-block;
}

#intro .champions-button {
  display: inline-block;
  margin: 10px auto 20px auto;
}

#intro .champions-button a {
  width: 150px;
  font-size: 16px;
  padding: 10px 15px;
  margin: 0 5px;
}

#intro .champions-button.orange a {
  background: #fcb833;
}

@media screen and (max-width: 768px) {

  #intro .column-1-2 {
    width: 100%;
    margin: 0;
  }

  #intro .column-1-2 p {
    margin-bottom: 20px;
  }

}

/*** INTRO SLIDER ***/

.champions-slider {
  padding: 0;
  margin: 10px -10px 0 -10px;
}

.champions-slider-images {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}

/*** SLICK SLIDER ***/

.slick-list .slick-slide {
  height: auto;
  margin: 0 5px;
}

.slick-prev,
.slick-next {
  background: transparent;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 10px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
}

.slick-prev::before {
  content:"\A";
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #fcb833 transparent transparent;
  position: absolute;
  left: 0;
  top: 0;
}

.slick-next::before {
  content:"\A";
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #fcb833;
  position: absolute;
  right: 0;
  top: 0;
  z-index:5;
  position: relative;
}

.slick-prev:hover,
.slick-next:hover {
  opacity: .8;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.champions-slider {
  padding: 0;
  margin: 10px -10px 0 -10px;
}

.champions-slider-images {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  overflow: scroll;
}


@media screen and (max-width: 768px) {

  .champions-slider {
    margin: 0 -15px;
  }

  .champions-slider-images {
    padding: 0 10px;
  }

}

/*** SPONSORS ***/

#sponsors {
  text-align: left;
}

#sponsors.champions-row {
  padding: 40px 20px 0 20px;
}

#sponsors h3 {
  text-transform: uppercase;
  margin-top: 15px;
}

#sponsors .column-1-1 {
  padding-bottom: 80px;
  position: relative;
}

#sponsors .column-1-2 {
  width: calc(50% - 20px);
  margin: 0 10px;
}

#sponsors .champions-button {
  position: absolute;
  bottom: 40px;;
}

#sponsors .champions-sponsor-image {
  position: relative;
  padding-bottom: 50%;
}

#sponsors .champions-sponsor-image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sponsor-images {
  width: 100%;
  max-width: 680px;
  display: table;
  margin: 0 auto;
}
.sponsor-image {
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
}
.sponsor-image img {
  width: 100%;
  max-width: 300px;
}

@media screen and (max-width: 768px) {

  #sponsors .column-1-1 {
    padding: 0;
  }

  #sponsors .column-1-2 {
    width: 100%;
    margin: 0;
  }

  #sponsors .column-1-2 .champions-sponsor-image img {
    width: 100%;
  }

  #sponsors .column-1-2 h3 {
    margin-top: 20px;
  }

  #sponsors .column-1-2 .champions-button {
    position: relative;
    display: inline-block;
    bottom: 0;
    margin-bottom: 40px;
  }

}

/*** FAMILY STORY ***/

#family-story {
  position: relative;
  padding-bottom: 100px;
  margin-bottom: -5px;
}

#family-story .video-wrap {
  max-width: 500px;
}

#family-story-bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#family-story-bg img {
  display: block;
}

/*** ABOUT CURE ***/

#about-cure {
  text-align: left;
}

#about-cure.champions-row {
  padding: 40px 20px 20px 20px;
}

#about-cure .column-1-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-cure .column-1-2 {
  flex: 1;
  float: none;
  width: 50%;
  margin: 0 10px;
}

#about-cure .champions-hr {
  text-align: left;
}

#about-cure ul {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {

  #about-cure .column-1-1 {
    display: inline-block;
  }

  #about-cure .column-1-2 {
    width: 100%;
    margin: 0;
  }

  #about-cure ul {
    padding-bottom: 20px;
  }

}

/*** CONTENT END ***/

#champions-content-end {
  width: calc(100% - 30px);
  max-width: 860px;
  margin: -10px 5px 0 5px;
  display: inline-block;
  position: relative;
}

#champions-content-end img {
  width: 100%;
  height: 40px;
}

/*** FOOTER ***/

#champions-footer {
  width: 100%;
  background: #59c4bf url('../img/champions-footer-bg.png') no-repeat;
  background-size: cover;
  background-position: center top;
  text-align: center;
  margin: 0 auto;
  padding: 40px 20px 100px 20px;
  display: inline-block;
  position: relative;
}

#champions-footer .column-1-1 {
  max-width: 600px;
}

#champions-footer h2,
#champions-footer h3 {
  color: #fff;
  margin-bottom: 0;
}

#champions-footer p {
  margin-top: 5px;
}

#champions-footer a {
  color: #063d39;
  text-decoration: none;
}

@media screen and (max-width: 768px) {

  #champions-footer .column-1-2 {
    width: 100%;
  }

}

/*** MODAL ***/

#overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  -moz-opacity: 0.75;
  opacity: .75;
  filter: alpha(opacity=75);
}

#modal {
  min-width: 260px;
  max-width: 600px;
  min-height: 200px;
  max-height: 500px;
  background-color: #fff;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 40px;
  right: 40px;
  margin: auto;
  z-index: 1001;
  -webkit-box-shadow: 0px 10px 25px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 25px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 25px -7px rgba(0, 0, 0, 0.75);
}

#modal-content-top {
  padding: 0 7%;
}

#modal-content-top-wrap {
  padding: 30px 20px 20px 20px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);
}

#modal-content-top-wrap img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

#modal-content-middle img {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

#modal-content-bottom {
  padding: 0 7%;
}

#modal-content-bottom-wrap {
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);
}

#modal-close {
  width: 30px;
  height: 30px;
  color: #000;
  background: #fff;
  font-family: lato;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 15px;
}

#modal-heading img {
  max-width: 100%;
}

#modal-content {
  text-align: center;
}

#modal-content h3,
#modal-content p {
  margin: 0 0 5px 0;
}

#modal-content .button {
  margin: 20px auto 15px auto;
}

#modal-content .button a {
  background: #ee5045;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 15px;
  display: inline-block;
}

#modal-content p.modal-close {
  color: #888;
  font-size: 12px;
  margin-top: 10px;
  display: inline-block;
}
